.body
    {
      background-color: white;
    }
  .inicio
  {
    color: black;
    text-align: justify;
  }
  .primeiro , .segundo
  {
    color: black;
  }
  .rodape
  { 
    text-align: center;
    color: white
  }