/* geral */
.body
    {
      background-color: white;
      margin: 0px;
    }

    .rodape
    { 
      text-align: center;
      align-items: center;
      color: white;
    }

    .rodapetwo{
      margin-top: 10px;
    }

    /* index.html */

p{
  text-align: center;
}
.descricion{
  text-align: justify;
}
.titulo{
  font-size: 22px;
}
  .inicio
  {
    color: black;
    text-align: justify;
    margin-top: 13px;
    margin-left: 20px;
  }
  .women{
    text-align: center;
  }
  .slogan1{
    font-size: 22px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-inline-end: 10px;
   
    padding: -37px;
    text-align: justify;
   
   }

 .slogan{
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-inline-end: 10px;
  padding: -37px;
  
  text-align: justify;
  
 }
  .primeiro , .segundo
  {
    color: black;
  }
  .visit
  {
    text-align: center;
  }
  button{
    width: 110px;
    height: 40px;
    margin-left: 35%;
    margin-top: 3px;
    border-color: yellow;
    color:  black;
    font-size: 17px;
    align-items: center;
    background-color: white;
    margin-bottom: 12px;  
    border-radius: 7px;
}
button:hover {
  background: rgb(224, 224, 40);
  cursor: pointer;
  color: #000;
}

a:link
{
  text-decoration: none;
} 
/* link que foi visitado */
a:visited 
{
  color: blue;
}
/* link que ainda não foi visitado */

a.botao-vermelho:link 
{
  color: black;
}
  /* produtos.html */

  .linha1
  {
    color: black;
    
  }
  .linha2, .linha3{
    color: black;
    text-align: center;
  }

  .btnprodutos {
    margin-top: 10px;
    margin-left: 2px;
 }
 .btnprodutoscuatro{
  margin-top: 10px;
    margin-left: 2px;
 }
 #txtBusca{
  margin-left: -1px; 
   margin-top: 12px;
   width: 190px;
 }
 .btnun{
  text-align: center;
 }
 .borda{
  border: 1px  black;
  text-align: center;
  background-color: rgb(246, 233, 214);
  font-size: 20px;
 }
 .btnbusca{
   margin-left: 10px; 
   margin-top: 12px;
   width: 160px;
 }
 .nuestros{
text-align: center;
margin-bottom: -1px;
 }
 .centralizar{
  text-align: center;
 }

  /* login.html */

  .login
  {
    text-align: center;
  }

   /* cadastro.html */

   .cadastro
   {
     text-align: center;
   }

  /* compras.html , produtoscadastrados.html */

  .table
  {
    text-align: center;
  }

  /* detalhes.html */

  .h1{
    border-block-start-color: brown;
    
        }
